@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



body {
    background-color: #0F0F0F;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 6.5vw;
    margin-bottom: 12vw;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --block-color: #131313; /* Цвет блока */
    --light-color: #212121; /* Цвет полосы в центре */
}

/* Отключение выделения текста */
* {
    -webkit-user-select: none; /* Для браузеров на основе WebKit (Safari, Chrome) */
    -moz-user-select: none;    /* Для Firefox */
    -ms-user-select: none;     /* Для Internet Explorer/Edge */
    user-select: none;         /* Для современных браузеров */
    -webkit-touch-callout: none; /* Отключение вызова меню при долгом нажатии на мобильных устройствах */
}

/* Отключение перетаскивания */
* {
    -webkit-user-drag: none; /* Отключает перетаскивание для браузеров на основе WebKit */
    user-drag: none;         /* Отключает перетаскивание для других браузеров */
}











/*                                             */
/*                    LOADER                   */
/*                                             */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0F0F0F;
    opacity: 1;
    z-index: 500;
    display: block;
}

.loader.off {
    display: none;
}
  
.darts-logo-cont {
    position: fixed;
    aspect-ratio: 1 / 1;
    width: 18.75vw;
    opacity: 0;
    z-index: 500;
    display: none;
    left: 40.58vw;
    top: calc(50vh - 9.375vw);
}

.darts-logo-cont.on {
    display: block;
}

.dice-logo-cont {
    position: fixed;
    aspect-ratio: 1 / 1;
    width: 17vw;
    opacity: 0;
    z-index: 500;
    display: none;
    left: 41.5vw;
    top: calc(50vh - 8.5vw);
}

.dice-logo-cont.on {
    display: block;
}

.slot-logo-cont {
    position: fixed;
    aspect-ratio: 185 / 200;
    height: 16.66vw;
    opacity: 0;
    z-index: 500;
    display: none;
    left: 42.25vw;
    top: calc(50vh - 8.33vw);
}

.slot-logo-cont.on {
    display: block;
}


.game-logo {
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
}

.slot-logo {
    position: relative;
    aspect-ratio: 185 / 200;
    width: 100%;
}










/*                                             */
/*                    HEADER                   */
/*                                             */


.user-header {
    height: 9vw;
    width: 94vw;
    align-items: center;
    display: flex;
    position: absolute;
}

.user-img-cont {
    height: 9vw;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.user-img {
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    border-radius: 100%;
}

.username-cont {
    height: 8.5vw;
    width: 100%;
    left: 2vw;
    position: relative;
    display: grid;
    gap: 0.3vw;
    align-items: center;
}

.username-name {
    font-size: 3.66vw;
    font-family: 'Roboto';
    color: #f0f0f0;
    font-weight: 500;
    position: relative;
    top: 0.1vw;
}

.username-status {
    font-size: 3.33vw;
    font-family: 'Roboto';
    color: #a1a1a1;
    font-weight: 500;
    position: relative;
}

.balance-bar {
    aspect-ratio: 290 / 84;
    height: 7vw;
    background-color: #131313;
    border-radius: 10vw;
    position: absolute;
    align-items: center;
    display: flex;
    right: 13vw;
}

.tether-purple {
    aspect-ratio: 1 / 1;
    height: 6vw;
    left: 1vw;
    position: absolute;
    top: 0.37vw;
}

.user-balance-cont {
    width: 14.59vw;
    height: 5vw;
    right: 2.25vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-balance {
    font-family: 'Roboto';
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
}

.replenish-plus {
    height: 7.5vw;
    aspect-ratio: 1 / 1;
    background-color: #7666C4;
    border-radius: 100%;
    right: 0vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.replenish-plus-svg {
    aspect-ratio: 6 / 5;
    width: 4vw;
    position: relative;
}





/*                                                 */
/*                    GAME THINGS                  */
/*                                                 */


.ad-cont {
    width: 94vw;
    aspect-ratio: 113 / 63;
    position: absolute;
    top: 24vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad {
    aspect-ratio: 113 / 63;
    width: 100%;
    position: relative;
}

.selection {
    position: absolute;
    height: 5.5vw;
    width: auto;
    display: flex;
    gap: 3vw;   
    align-items: center;
}

.selection.our-games {
    top: 89vw;
}

.selection.last-games {
    top: 164.5vw;
}

.selection.other {
    top: 238.5vw;
}

.selection-icon {
    aspect-ratio: 1 / 1;
    width: 5.5vw;
    position: relative;
}

.selection-text {
    font-family: 'Roboto';
    font-size: 4vw;
    font-weight: 500;
    color: #f0f0f0;
}

.selection-arrow {
    aspect-ratio: 2 / 3;
    width: 2vw;
    position: relative;
}

.double-game-cont {
    width: 94vw;
    aspect-ratio: 113 / 60;
    position: absolute;
    top: 101.5vw;
}

.game-cont {
    height: 50vw;
    aspect-ratio: 11 / 12;
    position: absolute;
}

.game-cont.first {
    left: 0vw;
}

.game-cont.second {
    right: 0vw;

}

.game {
    width: 100%;
    aspect-ratio: 11 / 12;
}

.darts {
    position: absolute;
    aspect-ratio: 1 / 1;
    left: 6.25vw;
    top: 5.83vw;
    height: 35.83vw;
}

.dice {
    aspect-ratio: 27 / 25;
    height: 25vw;
    position: absolute;
    left: 9.4vw;
    top: 13vw;
}

.online-holder {
    left: 2vw;
    top: 2.5vw;
    height: 5.5vw;
    position: absolute;
    border-radius: 10vw;
    width: 34.5vw;
    background-color: #0f0f0f;
}

.holder-game {
    height: 5.5vw;
    width: 19.16vw;
    position: absolute;
    align-items: center;
    display: flex;
}

.holder-icon {
    width: 3.33vw;
    left: 2vw;
    position: relative;
}

.holder-text {
    font-family: 'Roboto';
    font-size: 4vw;
    font-weight: 500;
    color: #f0f0f0;
    position: relative;
    left: 3.66vw;
}

.holder-online {
    width: auto;
    height: 5.5vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5vw;
    right: 9vw;
    transform: translateX(50%);
}

.players {
    aspect-ratio: 34 / 32;
    height: 2.66vw;
    position: relative;
    opacity: 1;
}

.players-amount {
    font-family: 'Roboto';
    font-size: 2.25vw;
    font-weight: 500;
    color: #a1a1a1;
    position: relative;
    opacity: 1;
}

.players-amount::after {
    content: " players";
}








/*                                                 */
/*                    LAST GAMES                   */
/*                                                 */



.last-games-cont {
    aspect-ratio: 1130 / 582;
    width: 94vw;
    top: 177vw;
    overflow: hidden;
    display: grid;
    position: absolute;
    gap: 2.5vw;
}

.last-game-header {
    aspect-ratio: 1130 / 78;
    width: 94vw;
    border-top-left-radius: 2.08vw;
    border-top-right-radius: 2.08vw;
    display: flex;
    align-items: center;
    background-color: #131313;
    position: relative;
}

.last-game-text {
    font-family: 'Roboto';
    font-size: 3vw;
    font-weight: 500;
    color: #a1a1a1;
    position: absolute;
}

.last-game-text.header-game {
    left: 8vw;
}

.last-game-text.header-username {
    left: 35vw;
}

.last-game-text.header-win {
    left: 70.8vw;
}

.last-game {
    aspect-ratio: 1130 / 96;
    border-radius: 2.09vw;
    width: 94vw;
    background-color: var(--block-color);
    position: relative;
    overflow: hidden;
    align-items: center;
    display: flex;
}

.light-strip {
    width: 80%; /* Ширина полосы */
    height: 100%; /* Высота полосы */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, var(--light-color) 50%, rgba(255, 255, 255, 0) 100%);
    position: absolute; /* Позволяет анимировать полоску */
    top: 0;
    left: -20%; /* Начальная позиция полосы */
    animation: moveStrip 2s linear infinite; /* Анимация */

}

@keyframes moveStrip {
    0% {
        left: -100%; /* Начальная позиция */
    }
    100% {
        left: 100%; /* Конечная позиция */
    }
}





.game-name {
    font-family: 'Roboto';
    font-size: 3.66vw;
    font-weight: 500;
    color: #f0f0f0;
    position: absolute;
    left: 8.75vw;
    z-index: 100;
}

.game-info {
    font-family: 'Roboto';
    font-size: 3.66vw;
    font-weight: 500;
    color: #f0f0f0;
    position: absolute;
    left: 35vw;
    z-index: 100;
}

.game-profit {
    font-family: 'Roboto';
    font-size: 3.66vw;
    font-weight: 500;
    color: #f0f0f0;
    position: absolute;
    right: 13.08vw;
    z-index: 100;
}


.game-plate {
    aspect-ratio: 1130 / 96;
    border-radius: 2.09vw;
    width: 94vw;
    background-color: #131313;
    top: 0%;
    right: 0%;
    position: absolute;
}


.game-icon {
    aspect-ratio: 1 / 1;
    width: 5vw;
    position: absolute;
    left: 2.09vw;
    z-index: 100;
}

.last-game-tether {
    width: 3.8vw;
    aspect-ratio: 25 / 22;
    position: absolute;
    right: 8.3vw;
}




/*                                                    */
/*                     SUPPLEMENTARY                  */
/*                                                    */


.supplementary {
    width: 94vw;
    position: absolute;
    top: 251vw;
    display: grid;
    gap: 2vw;
}

.supplementary-panel-cont {
    width: 100%;
    aspect-ratio: 113 / 9;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #131313;
    border-radius: 2vw;
}

.supplementary-icon {
    aspect-ratio: 1 / 1;
    width: 4.5vw;
    position: absolute;
    left: 2vw;
}

.supplementary-text {
    font-family: 'Roboto';
    font-size: 3.33vw;
    font-weight: 500;
    color: #f0f0f0;
    position: absolute;
    left: 9vw;
}

.supplementary-arrow {
    aspect-ratio: 2 / 3;
    width: 2vw;
    position: absolute;
    right: 4vw;
}

.black-block {
    position: absolute;
    height: 5vw;
    width: 100vw;
    top: 280vw;
    left: 0%;
}









/*                                                    */
/*                     REPLENISHMENT                  */
/*                                                    */


.back-lobby-cont {
    aspect-ratio: 2 / 3;
    position: absolute;
    width: 2.5vw;
    left: 5.83vw;
    top: 9.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-lobby-arrow {
    aspect-ratio: 2 / 3;
    height: 100%;
    position: relative;
}

.replenish-cont {
    aspect-ratio: 113 / 19;
    position: absolute;
    left: 3vw;
    height: 15.83vw;
    top: 23.33vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(24.6vw);
}

.withdraw-cont{
    aspect-ratio: 113 / 19;
    position: absolute;
    left: 3vw;
    height: 15.83vw;
    top: 42.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(24.6vw);
}

.replenish-withdraw {
    aspect-ratio: 113 / 19;
    height: 100%;
    position: relative;
}

.error-cont {
    aspect-ratio: 112 / 12;
    height: 10vw;
    bottom: 6.5vw;
    position: fixed;
    left: 3.333%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.error-window {
    aspect-ratio: 112 / 12;
    width: 100%;
    position: relative;
}

.hider-username {
    aspect-ratio: 396 / 56;
    border-radius: 1.6vw;
    width: 33vw;
    background-color: var(--block-color);
    position: absolute;
    overflow: hidden;
    top: 7vw;
    left: 13.3vw;
}

.hider-status {
    aspect-ratio: 216 / 40;
    border-radius: 1.1vw;
    width: 18vw;
    background-color: var(--block-color);
    position: absolute;
    overflow: hidden;
    top: 12.35vw;
    left: 13.3vw;
}

.hider-balance {
    aspect-ratio: 290 / 84;
    border-radius: 100vw;
    height: 7vw;
    background-color: var(--block-color);
    position: absolute;
    overflow: hidden;
    top: 7.5vw;
    right: 16vw;
}